<h1>All Articles</h1>
{{#each products}} {{!-- iterates over the array of books --}}
  <div class="Article">
    <h1>Title: {{title}}</h1>
    <h2>Body: ${{body}}</h2>
    <h2>Author: {{author}}</h2>
  </div>
<form action="/articles/{{urlTitle}}?_method=DELETE" method="POST" >
   <input type="submit" value="Remove Product">
</form>
{{/each}}
<form action="/articles/new" method="GET" >
   <input type="submit" value="New Article">
</form>
{{#if success.delete}}
<p>Item was deleted.</p>
{{/if}}
