<h1>All Products</h1>
<div><a href="../products/new">new</a></div>

{{#each products}} {{!-- iterates over the array of books --}}
  <div class="product">
    <h1>Name: {{name}}</h1>
    <h2>ID: {{id}}</h2>
    <h2>Price: ${{price}}</h2>
    <h2>Inventory: {{inventory}}</h2>
  </div>
{{/each}}
{{#if success.delete}}
<p>Item was deleted.</p>
{{/if}}
  <div><a href="../products/new">new</a></div>